USE [23-106_mdk0401_pr_2]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] NOT NULL,
	[IDMaterialTYpe] [int] NOT NULL,
	[IDUnitOfMeasurement] [int] NOT NULL,
	[NameMaterial] [varchar](255) NOT NULL,
	[UnitPriceOfMaterial] [money] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[MinQuantity] [int] NOT NULL,
	[QuantityInPack] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ID] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[PercentageOfDefect] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[IDProductType] [int] NOT NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Articul] [numeric](18, 0) NOT NULL,
	[MinCostForPartner] [money] NOT NULL,
	[RollWidthInMetr] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsMaterial]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsMaterial](
	[ID] [int] NOT NULL,
	[IDProduct] [int] NOT NULL,
	[IDMaterial] [int] NOT NULL,
	[RequredMaterialQuantity] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductsMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[CoefficienProductType] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitsOfMeasurement]    Script Date: 09.09.2025 8:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitsOfMeasurement](
	[ID] [int] NOT NULL,
	[Unit] [varchar](5) NOT NULL,
 CONSTRAINT [PK_UnitsOfMeasurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Materials] ([ID], [IDMaterialTYpe], [IDUnitOfMeasurement], [NameMaterial], [UnitPriceOfMaterial], [QuantityInStock], [MinQuantity], [QuantityInPack]) VALUES (1, 1, 1, N'Бумага-основа с покрытием для флизелиновых обоев', 1700.0000, 2500, 1000, 100)
INSERT [dbo].[Materials] ([ID], [IDMaterialTYpe], [IDUnitOfMeasurement], [NameMaterial], [UnitPriceOfMaterial], [QuantityInStock], [MinQuantity], [QuantityInPack]) VALUES (2, 1, 1, N'Бумага-основа для флизелиновых обоев', 1500.0000, 3000, 1000, 100)
INSERT [dbo].[Materials] ([ID], [IDMaterialTYpe], [IDUnitOfMeasurement], [NameMaterial], [UnitPriceOfMaterial], [QuantityInStock], [MinQuantity], [QuantityInPack]) VALUES (3, 1, 1, N'Бумага обойная для вспененных виниловых обоев', 1200.0000, 1500, 1000, 100)
GO
INSERT [dbo].[MaterialType] ([ID], [Type], [PercentageOfDefect]) VALUES (1, N'Бумага', CAST(0.0070 AS Decimal(18, 4)))
INSERT [dbo].[MaterialType] ([ID], [Type], [PercentageOfDefect]) VALUES (2, N'Краска', CAST(0.0050 AS Decimal(18, 4)))
INSERT [dbo].[MaterialType] ([ID], [Type], [PercentageOfDefect]) VALUES (3, N'Клей', CAST(0.0015 AS Decimal(18, 4)))
GO
INSERT [dbo].[Products] ([ID], [IDProductType], [ProductName], [Articul], [MinCostForPartner], [RollWidthInMetr]) VALUES (1, 1, N'Обои из природного материала Традиционный принт светло-коричневые', CAST(1549922 AS Numeric(18, 0)), 16950.0000, CAST(0.91 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [IDProductType], [ProductName], [Articul], [MinCostForPartner], [RollWidthInMetr]) VALUES (2, 2, N'Фотообои флизелиновые Горы 500x270 см', CAST(2018556 AS Numeric(18, 0)), 15880.0000, CAST(0.50 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [IDProductType], [ProductName], [Articul], [MinCostForPartner], [RollWidthInMetr]) VALUES (3, 3, N'Обои под покраску флизелиновые Рельеф', CAST(3028272 AS Numeric(18, 0)), 11080.0000, CAST(0.75 AS Decimal(18, 2)))
GO
INSERT [dbo].[ProductsMaterial] ([ID], [IDProduct], [IDMaterial], [RequredMaterialQuantity]) VALUES (1, 5, 10, CAST(1.95 AS Decimal(18, 2)))
INSERT [dbo].[ProductsMaterial] ([ID], [IDProduct], [IDMaterial], [RequredMaterialQuantity]) VALUES (2, 12, 10, CAST(0.21 AS Decimal(18, 2)))
INSERT [dbo].[ProductsMaterial] ([ID], [IDProduct], [IDMaterial], [RequredMaterialQuantity]) VALUES (3, 14, 18, CAST(1.50 AS Decimal(18, 2)))
GO
INSERT [dbo].[ProductType] ([ID], [Type], [CoefficienProductType]) VALUES (1, N'Декоративные обои', CAST(5.50 AS Decimal(18, 2)))
INSERT [dbo].[ProductType] ([ID], [Type], [CoefficienProductType]) VALUES (2, N'Фотообои', CAST(7.54 AS Decimal(18, 2)))
INSERT [dbo].[ProductType] ([ID], [Type], [CoefficienProductType]) VALUES (3, N'Обои под покраску', CAST(3.25 AS Decimal(18, 2)))
GO
INSERT [dbo].[UnitsOfMeasurement] ([ID], [Unit]) VALUES (1, N'рул')
INSERT [dbo].[UnitsOfMeasurement] ([ID], [Unit]) VALUES (2, N'кг')
INSERT [dbo].[UnitsOfMeasurement] ([ID], [Unit]) VALUES (3, N'л')
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialType] FOREIGN KEY([IDMaterialTYpe])
REFERENCES [dbo].[MaterialType] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialType]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_UnitsOfMeasurement] FOREIGN KEY([IDUnitOfMeasurement])
REFERENCES [dbo].[UnitsOfMeasurement] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_UnitsOfMeasurement]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([IDProductType])
REFERENCES [dbo].[ProductType] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_Materials] FOREIGN KEY([IDMaterial])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_Materials]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_Products] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_Products]
GO
